lib/
var/
.htaccess
update/
setup/
pub/
phpserver/
dev/
bin/
app/etc/
app/design/
app/autoload.php
app/bootstrap.php
app/functions.php
.htaccess.sample
.php_cs
.travis.yml
CHANGELOG.md
composer.lock
CONTRIBUTING.md
CONTRIBUTOR_LICENSE_AGREEMENT.html
COPYING.txt
Gruntfile.js
index.php
LICENSE.txt
LICENSE_AFL.txt
nginx.conf.sample
package.json
php.ini.sample
bin
vendor/*
.idea/
